/* around */
body {
    background: #667d91;
}

/* google gallery  */
.google-image-title {
    text-align: center;
}   
.google-image {
    max-height: 90%;
    border: 2px solid #544949;
    margin-top: -5px;
}



/* site */
.site-iframe {
    width: 90%; height: 100%; margin-left: 5%;
}



/* schedule */
.schedule-title {
    font-weight: bold;
}
.schedule-content {
    width: 100%;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 10px;
    border-color: grey;
    border: 1px solid grey;
    border-radius: 20px;
}

.schedule-border {
    border: 1px solid black;
    font-size: 20px;
    padding: 10px;
}

.left-background-color {
    background-color: #0389f7;
}

.right-background-color {
    background-color: #e2e2e2;
}

.schedule-image {
    height: 15vh; 
}

.schedule-image-one {
    height: 50vh;
}


.schedule-item-border {
    border: 1px solid black;

    height: 200px;
}
.schedule-img {
    max-height: 166px;
}